root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,ts,jsx,tsx,vue}]
indent_size = 2
comma_style = last
ident_brace_style = 1tbs
ident_switch_cases = 2
